__pycache__
.DS_Store
.history
.hypothesis/
build/
reports/
node_modules/
ignore/
.*
!.gitignore
!.gitattributes
!.solhint.json
ignore
*.txt
*.log
!requirements.txt
package-lock.json
*_ignore_*
*_joined_*
