{
  "printWidth": 180,
  "trailingComma": "es5",
  "semi": true,
  "singleQuote": false,
  "tabWidth": 2,
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "semi": true,
        "printWidth": 180
      }
    }
  ]
}
