# Brownie configuration file
# https://eth-brownie.readthedocs.io/en/stable/config.html

project_structure:
    build: build
    contracts: contracts
    interfaces: interfaces
    reports: reports
    scripts: scripts
    tests: tests

networks:
    default: development
    development:
        gas_limit: 8000000
        gas_price: 0
        reverting_tx_gas_limit: 8000000
        default_contract_owner: true
        cmd_settings:
            port: 8555
            gas_limit: 8000000
            accounts: 10
            evm_version: istanbul
            mnemonic: brownie
            block_time: 0
            default_balance: 100
            #time: 2020-05-08T14:54:08+0000
    live:
        gas_limit: auto
        gas_price: auto
        reverting_tx_gas_limit: false
        default_contract_owner: false

compiler:
    evm_version: null
    solc:
        version: null
        optimizer:
            enabled: true
            runs: 200
        remappings: 
            - "@openzeppelin-4.3.2=./node_modules/openzeppelin-4.3.2"
            - "@openzeppelin-3.4.0=./node_modules/openzeppelin-3.4.0"
            - "@openzeppelin-2.5.0=./node_modules/openzeppelin-2.5.0"
            - "@uniswap=./node_modules/@uniswap"
            - "@celer=./node_modules/celer"
            - "@openzeppelin/contracts=./node_modules/openzeppelin-4.3.2"
console:
    show_colors: true
    color_style: monokai
    auto_suggest: true
    completions: true

reports:
    exclude_paths:
        - contracts/testhelpers/**/*.*
        - contracts/openzeppelin/**/*.*
        - contracts/feeds/testnet/**/*.*
    exclude_contracts:
        - Address
        - Context
        - Ownable
        - ReentrancyGuard
        - SafeERC20
        - SafeMath
        - EnumerableBytes32Set

hypothesis:
    deadline: null
    max_examples: 50
    report_multiple_bugs: False
    stateful_step_count: 10

autofetch_sources: false
dependencies: null
dev_deployment_artifacts: false
